graphviz==0.16
ipywidgets==7.5.1
keras==2.4.3
lime==0.2.0.1
matplotlib==3.3.4
notebook==6.0.3
numpy==1.19.5
opencv-python==4.5.1.48
pyswip==0.2.10
scikit-image==0.18.1
tensorflow==2.4.1
webcolors==1.11.1
